<div class="jumbotron">
    <form  method="POST">
        <div class="form-group">
            <label>Username</label>
            <input id="email" class="text" placeholder="Username" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="password" class="text" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="submit()">Login</button>
        <button type="submit" class="btn btn-danger" ng-click="register()">Register</button>
    </form>
</div>
