<div class="jumbotron">
     <div>
            <div class="row vdivide">
                    <form name="reg" class="form-horizontal" ng-submit="addUser()" method="POST">
                        <fieldset>
                            <div id="legend">
                                </br></br>
                                <legend class="">Register</legend>
                            </div>
                            <div class="control-group">
                                <label class="control-label">First</label>
                                <div class="controls">
                                    <input class="form-control" type="text" name="first" ng-minlength="3" ng-maxlength="8" required />
                                    <div class="error" ng-show="reg.first.$dirty && reg.first.$invalid">
                                        <small class="error" ng-show="reg.first.$error.required">
                                            First name is required.
                                        </small>
                                        <small class="error" ng-show="reg.username.$error.minlength">
                                            First name is required to be at least 3 characters.
                                        </small>
                                        <small class="error" ng-show="reg.username.$error.maxlength">
                                            First name cannot be longer than 8 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Last</label>
                                <div class="controls">
                                    <input class="form-control" type="text" name="last" ng-minlength="3" ng-maxlength="8" required />
                                    <div class="error" ng-show="reg.last.$dirty && reg.last.$invalid">
                                        <small class="error" ng-show="reg.last.$error.required">
                                            Last name is required.
                                        </small>
                                        <small class="error" ng-show="reg.last.$error.minlength">
                                            Last name is required to be at least 3 characters.
                                        </small>
                                        <small class="error" ng-show="reg.last.$error.maxlength">
                                            Last name cannot be longer than 8 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Username</label>
                                <div class="controls">
                                    <input class="form-control" type="text" name="username" ng-model="contact.username" ng-minlength="3" ng-maxlength="8" required />
                                    <div class="error" ng-show="reg.username.$dirty && reg.username.$invalid">
                                        <small class="error" ng-show="reg.username.$error.required">
                                            Username is required.
                                        </small>
                                        <small class="error" ng-show="reg.username.$error.minlength">
                                            Username is required to be at least 3 characters.
                                        </small>
                                        <small class="error" ng-show="reg.username.$error.maxlength">
                                            Username cannot be longer than 8 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>
                                <div class="control-group">
                                    <label class="control-label" for="password">Password</label>
                                    <div class="controls">
                                        <input type="password" id="password" name="password" class="form-control" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ng-model="contact.password" required/>
                                        <span ng-show="reg.password.$error.required && reg.password.$dirty">Password required</span>
                                        <span ng-show="!reg.password.$error.required && (reg.password.$error.minlength || reg.password.$error.maxlength) && myForm.password.$dirty">Passwords must be between 8 and 20 characters.</span>
                                        <span ng-show="!reg.password.$error.required && !reg.password.$error.minlength && !reg.password.$error.maxlength && reg.password.$error.pattern && reg.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="control-group">
                                <div class="controls">
                                    <!--button type="submit" class="btn btn-success" ng-disabled="reg.$invalid" ng-click="addContact()">Register</button-->
                                    <input type="submit" class="btn btn-success" ng-disabled="reg.$invalid" value="Register" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
        </div>
    </div>
